@use '../../../styles/colors';
@use '../../../styles/functions';
@use '../../../styles/spaces';

$border-thickness: functions.to-rem(2px);
$transition-duration: 0.2s;

$switch-button-height: functions.to-rem(28px);
$switch-button-width: functions.to-rem(48px);

$adjuster-height: functions.to-rem(20px);
$adjuster-width: functions.to-rem(20px);
$adjuster-offset-inactive: functions.to-rem(2px);
$adjuster-offset-active: functions.to-rem(22px);

.switchButton {
  border-radius: spaces.$radius-24px;
  height: $switch-button-height;
  width: $switch-button-width;
  position: relative;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  transition: border $transition-duration ease,
  background-color $transition-duration ease;

  &--active {
    border: $border-thickness solid colors.$purple-600;
    background-color: colors.$purple-600;

    &:hover {
      border: $border-thickness solid colors.$purple-500;
      background-color: colors.$purple-500;
    }
  }

  &--inActive {
    border: $border-thickness solid colors.$purple-200;
    background-color: colors.$purple-200;

    &:hover {
      border: $border-thickness solid colors.$purple-300;
      background-color: colors.$purple-300;
    }
  }
}
.switchButton:focus-visible {
  border: $border-thickness solid colors.$blue-300;
}

.switchButtonAdjuster {
  border-radius: 50%;
  background-color: colors.$white;
  height: $adjuster-height;
  width: $adjuster-width;
  position: absolute;
  transform: translateY(-50%);
  left: $adjuster-offset-inactive;
  transition: left $transition-duration ease;

  &--active {
    left: $adjuster-offset-active;
  }
}