@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/mixins';
@use '../../../styles/screens';
@use '../../../styles/spaces';

$border-thickness: functions.to-rem(1px);
$transition-duration: 0.2s;
$arrow-icon-height: functions.to-rem(12px);
$arrow-icon-width: functions.to-rem(12px);

.submitButton {
  border-radius: spaces.$radius-12px;
  border: $border-thickness solid colors.$purple-600;
  padding: spaces.$space-18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: spaces.$space-24px;
  width: 100%;
  background-color: colors.$purple-600;
  color: colors.$white;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: border $transition-duration ease,
  background-color $transition-duration ease;

  @include mixins.box-shadow;

  @include screens.tablet-and-up {
    border-radius: spaces.$radius-24px;
    padding: spaces.$space-31px;
  }

  @include fonts.text-preset-4;
}

.submitButton:hover {
  border: $border-thickness solid colors.$purple-300;
  background-color: colors.$purple-300;
  outline: none;
  box-shadow: none;
}

.submitButton:focus {
  border: $border-thickness solid colors.$purple-300;
  background-color: colors.$purple-300;
  outline: none;
  box-shadow: none;
}

.submitButton:focus-visible {
  border: $border-thickness solid colors.$purple-300;
  background-color: colors.$purple-300;
  outline: none;
  box-shadow: none;
}
