@use '../../../styles/colors';
@use '../../../styles/fonts';

.errorLabel {
  text-align: left;
  color: colors.$red-500;

  @include fonts.text-preset-5;
}

.headlineLabel {
  text-align: left;
  color: colors.$blue-900;

  @include fonts.text-preset-2-light;
}

.headlineLabelBold {
  text-align: left;
  color: colors.$blue-900;

  @include fonts.text-preset-2;
}

.label {
  display: inline-block;
  max-width: fit-content;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: inherit;
}

.questionLabel {
  text-align: left;
  color: colors.$blue-900;

  @include fonts.text-preset-3;
}

.quizButtonLabel {
  text-align: left;
  color: colors.$blue-900;

  @include fonts.text-preset-4;
}

.scoreLabel {
  text-align: center;
  color: colors.$blue-900;

  @include fonts.text-preset-1;
}

.scoreSubLineLabel {
  text-align: center;
  color: colors.$grey-500;

  @include fonts.text-preset-5-bold;
}

.subLineLabel {
  text-align: left;
  color: colors.$grey-500;

  @include fonts.text-preset-6;
}

.submitButtonLabel {
  text-align: left;
  color: colors.$white;

  @include fonts.text-preset-4;
}

.topicLabel {
  text-align: left;
  color: colors.$blue-900;

  @include fonts.text-preset-4;
}
