@use '../../../styles/colors';
@use '../../../styles/fonts';

.label {
  display: inline-block;
  max-width: fit-content;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: inherit;

  &__errorLabel {
    text-align: left;
    color: colors.$red-500;

    @include fonts.text-preset-5;

    &--darkMode {
      color: colors.$white;
    }
  }

  &__headlineLabel {
    text-align: left;
    color: colors.$blue-900;

    @include fonts.text-preset-2-light;

    &--darkMode {
      color: colors.$white;
    }
  }

  &__headlineLabelBold {
    text-align: left;
    color: colors.$blue-900;

    @include fonts.text-preset-2;

    &--darkMode {
      color: colors.$white;
    }
  }

  &__questionLabel {
    text-align: left;
    color: colors.$blue-900;

    @include fonts.text-preset-3;

    &--darkMode {
      color: colors.$white;
    }
  }

  &__quizButtonLabel {
    text-align: left;
    color: colors.$blue-900;

    @include fonts.text-preset-4;

    &--darkMode {
      color: colors.$white;
    }
  }

  &__scoreLabel {
    text-align: center;
    color: colors.$blue-900;

    @include fonts.text-preset-1;

    &--darkMode {
      color: colors.$white;
    }
  }

  &__scoreSubLineLabel {
    text-align: center;
    color: colors.$grey-500;

    @include fonts.text-preset-5-bold;

    &--darkMode {
      color: colors.$blue-300;
    }
  }

  &__subLineLabel {
    text-align: left;
    color: colors.$grey-500;

    @include fonts.text-preset-6;

    &--darkMode {
      color: colors.$blue-300;
    }
  }

  &__submitButtonLabel {
    text-align: left;
    color: colors.$white;

    @include fonts.text-preset-4;

    &--darkMode {
      color: colors.$white;
    }
  }

  &__topicLabel {
    text-align: left;
    color: colors.$blue-900;

    @include fonts.text-preset-4;

    &--darkMode {
      color: colors.$white;
    }
  }
}
