@use 'functions';

$space-4px: functions.to-rem(4px);
$space-8px: functions.to-rem(8px);
$space-12px: functions.to-rem(12px);
$space-14px: functions.to-rem(14px);
$space-16px: functions.to-rem(16px);
$space-18px: functions.to-rem(18px);
$space-24px: functions.to-rem(24px);
$space-31px: functions.to-rem(31px);
$space-32px: functions.to-rem(32px);
$space-40px: functions.to-rem(40px);
$space-48px: functions.to-rem(48px);
$space-64px: functions.to-rem(64px);
$space-84px: functions.to-rem(84px);
$space-128px: functions.to-rem(128px);
$space-144px: functions.to-rem(144px);
$space-184px: functions.to-rem(184px);

$space-4vw: 4vw;
$space-7vw: 7vw;

$radius-6px: functions.to-rem(6px);
$radius-8px: functions.to-rem(8px);
$radius-12px: functions.to-rem(12px);
$radius-24px: functions.to-rem(24px);


$button-desktop-width: 40vw;
$progress-bar-desktop-width: functions.to-rem(465px);
$title-desktop-width: functions.to-rem(350px);
