@use '../../../styles/spaces';

.headerContainer {
  padding: spaces.$space-4vw spaces.$space-7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  row-gap: spaces.$space-16px;
}
