@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/mixins';
@use '../../../styles/screens';
@use '../../../styles/spaces';

$border-thickness: functions.to-rem(3px);
$transition-duration: 0.2s;

$icon-height: functions.to-rem(40px);
$icon-width: functions.to-rem(40px);
$icon-height-tablet: functions.to-rem(56px);
$icon-width-tablet: functions.to-rem(56px);

.topicButton {
  border-radius: spaces.$radius-12px;
  border: $border-thickness solid colors.$white;
  background-color: colors.$white;
  padding: spaces.$space-16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: spaces.$space-16px;
  width: 500px;
  transition: border $transition-duration ease,
  background-color $transition-duration ease;
  outline: none;

  @include mixins.box-shadow;

  @include screens.tablet-and-up {
    border-radius: spaces.$radius-24px;
    column-gap: spaces.$space-32px;
  }

  @include screens.desktop-and-up {
    padding: spaces.$space-24px;
  }

  &--darkMode {
    border: $border-thickness solid colors.$blue-850;
    background-color: colors.$blue-850;

    &:hover {
      border: $border-thickness solid colors.$blue-900;
      background-color: colors.$blue-900;
      cursor: pointer;
    }

    &:focus-visible {
      border: $border-thickness solid colors.$blue-300;
      background-color: colors.$blue-900;
      cursor: pointer;
    }
  }

  &--lightMode {
    border: $border-thickness solid colors.$white;
    background-color: colors.$white;

    &:hover {
      border: $border-thickness solid colors.$grey-50;
      background-color: colors.$grey-50;
      cursor: pointer;
    }

    &:focus-visible {
      border: $border-thickness solid colors.$blue-300;
      background-color: colors.$grey-50;
      cursor: pointer;
    }
  }
}

.topicButtonIcon {
  border-radius: spaces.$radius-6px;
  height: $icon-height;
  width: $icon-width;

  @include screens.tablet-and-up {
    height: $icon-height-tablet;
    width: $icon-width-tablet;
  }

  &--orange {
    background-color: colors.$orange-50;
  }

  &--green {
    background-color: colors.$green-100;
  }

  &--blue {
    background-color: colors.$blue-50;
  }

  &--purple {
    background-color: colors.$purple-100;
  }
}
