@use '../../../styles/screens';
@use '../../../styles/spaces';

.quizButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: spaces.$space-16px;
  width: 100%;

  @include screens.tablet-and-up {
    row-gap: spaces.$space-24px;
  }

  @include screens.desktop-and-up {
    width: spaces.$button-desktop-width;
  }
}
